body{
    background-color: #FAFAFF;
    color: #1E1C21;
}
#card{
    width: 250px;
    margin-bottom: 20px;
}
.content{
    border: 2px solid #1e1c2175;
    background-color: #FAFAFF;
    height: 135px;
    overflow: hidden;
}

#title{
    text-align: center;
    font-size: 30px;
    border-radius: 90%;
    margin: 5px 0;
}

#break{
    background-color: #BF211E;
    height: 3px;
    width: 80%;
    margin: 0 auto;
    
}

#description{
    font-size: 20px;
    padding: 0 5px;
}

#date{
    background-color: #FAFAFF;
    font-size: larger;
    width: 35%;
    font-size: 15px;
    margin-left: 10px;
    padding: 5px;
    color: #1E1C21;
    font-weight: 400;
    border: 2px solid #1E1C21;
    border-bottom: 0px;
    border-radius: 5px 5px 0 0;
    text-align: center;
}
