@import "../../App.css"; 

body{
    background-color:  var(--black);
    color: var(--white);
}

#grid-card{
    width: 250px;
    margin-bottom: 20px;
    
}
#grid-content{
    border-top: 2px solid  var(--white);
    border-bottom:2px solid  var(--white);
    background-color: var(--black);
    height: 135px;
    overflow: hidden;
}

#grid-title{
    text-align: center;
    font-size: 30px;
    margin: 5px 0;
    a{
        color:  var(--white);
    }
    a:hover{
        color: rgba(250, 250, 255, 0.5);
    }
}

#grid-break{
    background-color: var(--yellow);
    height: 3px;
    width: 80%;
    margin: 0 auto;
    
}

#grid-description{
    font-size: 20px;
    padding: 0 5px;
}

#grid-date{
    background-color: var(--black);
    font-size: larger;
    width: 35%;
    font-size: 15px;
    margin-left: 10px;
    padding: 5px;
    font-weight: 400;
    border: 2px solid var(--white);
    border-bottom: 0px;
    border-radius: 5px 5px 0 0;
    text-align: center;
}
